@import './colors.css';
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');


body{
  font-family: 'Oswald';
  margin: 0px;
}

h1 { 
  font-size: 3rem;
  margin: 0;
}

h2 {
		font-size: 2.5rem;
    margin: 0;
	}

h3 {
  font-size: 2rem;
  margin: 0;
}

h4 {
  font-size: 1.2rem;
  margin: 0;
}

input {
  height: 2rem;
  width: 20rem;
}

.main {
  width: 70vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

.btn-big {
  background-color: var(--main-color);
  height: 4rem;
  width: 98%;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 20px #bbbbbb;
  color: white;
  margin: 5px;
}

.btn-big:hover {
  background-color: var(--main-color-dimmed);
}

.btn-underline {
  border: none;
  background-color: transparent;
  text-decoration: underline;
  font-weight: 900;
  font-size: 15px;
}

.btn-underline:hover {
  color: #555555;
}